<form method="post" action="{{ path('app_contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Estás segur@ que quieres eliminar este mensaje?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i>Eliminar</button>
</form>
