{% extends 'base.html.twig' %}

{% block title %}Mensajes Recibidos{% endblock %}

{% block body %}
    <h1>Create new Contact</h1>

    {{ include }}

    <a href="">back to list</a>

    <div class="content">
        <div class="actionsForm backBtn">
            <a href="{{ path('app_contact_index') }}" class="btn btn-add"><i class="fa-solid fa-arrow-left me-2"></i> Volver</a>
        </div>
        <h1 class="titleSection"><i class="fa-regular fa-square-plus me-2"></i> Nuevo Mensaje</h1>
        {{ include('contact/_form.html.twig') }}
    </div>
{% endblock %}
